*ReSharper*
*resharper*
*.suo
*.cache
obj
bin
*.csproj.user
* Thumbs.db
*.cache
*.log
*.user
*.gpState
TestResults
[Bb]inaries
src/.vs/
*.nupkg
src/SimpleCqrs/publish-nuget.bat
src/Packages/
